# Server Configuration
PORT=5000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=medilink_db

# Security
JWT_SECRET=medilink_jwt_super_secret_key_2026_ineubytes_internship
JWT_EXPIRES_IN=24h
